/****
	Overrides for the default styling of purecss's layout(s)
****/

html, body {
	background-color: #252525;
}

a {
	color: #FFC000;
	border: 0;
	outline: 0;
}

img {
	border: 0;
}

#menu {
	background-color: #014884;
}

#menu .pure-menu-item.selected {
	background-color: #45A6F7;
}

#menu .pure-menu-item.selected a {
	color: #FFF;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background-color: #0A8FFC;
    color: #FFF;
}

#menu .pure-menu-link {
	color: #45A6F7;
}

#menu .new-menu-link {
	position: absolute;
	z-index: 1;
	padding: 0 3px;
}

#menu .new-menu-link img#new {
	height: 20px;
}

#menu .menu-footer {
	font-size: 0.8em !important;
	padding-left: 3px;
	position: absolute;
	bottom: 3px;
}

.pure-u {
	text-align: center !important;
}

.header {
	border-bottom: 1px solid #014884;
}

.header h1, .header h2 {
	color: #45A6F7;
}

img.whitebg {
	background-color: #FFFFFF;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, body, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	font-family: 'Open Sans', sans-serif;
	color: #8F8F8F;
    /* Set your content font stack here: */
    /*font-family: Georgia, Times, "Times New Roman", serif;*/
}





/****
	other misc css
****/

.textbox {
	width: 90%;
	text-align: center;
	background-color: #014884;
	color: #FFF !important;
	font-size: 0.8em;
	border-top: 1px solid #45A6F7;
	border-bottom: 1px solid #45A6F7;
	padding: 0.5em 1em;
	margin: 1em auto;
}

.accuweather {
	background-color: #FFF;
	display: inline-block;
	padding: 5px 5px 0 5px;
	margin-bottom: 5px;
}
