@charset "utf-8";
/* CSS Document */

body {
	color: #999999;
	font-size: 0.75em;
	font-family: tahoma, verdana, arial, sans-serif;
}

table.tabs * {
	font-family: tahoma, verdana, arial, sans-serif;
	font-size: 0.9375em;
	color: white;
}

.tabs a:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	text-decoration: underline;
}

div.map {
	padding: 3px;
	text-align: center;
}

h2 {
	font-variant: small-caps;
}

.orange {
	color: orange;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	margin: 3px;
	width: 1000px;
}

#intellicast {
	width: 500px;
}

.twtr_header {
	font-family: "lucida grande", lucida, hevetica, arial, sans-serif;
	font-size: 1em;
	font-weight: 700;
}
