{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Wichita Weather, Wichita, Weather, Radar, Satellite, Animation, Map, Watches, Warnings, Thunderstorms, Tornado, Storm warning, tornado warning, tornado watch"
    />
    <meta
      name="description"
      content="Collection of animated radar and satellite maps of Wichita area weather, including radar, satellite, watches/warnings, and more info."
    />
    <title>Wichita Radar</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="application-name" content="Wichita Radar" />

    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="/static/img/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="WichitaRadar" />
    <link rel="manifest" href="/static/img/favicon/site.webmanifest" />
    <meta name="msapplication-TileImage" content="/static/img/favicon/mstile-144x144.png" />

    <link rel="stylesheet" href="/static/css/pure/0.6.0/pure-min.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/static/css/layouts/side-menu-old-ie.css" />
      <link rel="stylesheet" href="/static/css/pure/0.6.0/grids-responsive-old-ie-min.css" />
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/static/css/layouts/side-menu.css" />
    <link rel="stylesheet" href="/static/css/pure/0.6.0/grids-responsive-min.css" />
    <!--<![endif]-->

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/css/wx.css" />
    <!-- Load our custom error tracking -->
    <script src="/static/js/image-error.js"></script>
    {{if gt .RefreshInterval 0}}
    <meta http-equiv="refresh" content="{{.RefreshInterval}}" />
    {{end}}

    <!-- Matomo -->
    <script>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = '//analytics.joshdutcher.com/';
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
        g.async = true;
        g.src = u + 'matomo.js';
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body>
    <div id="layout">{{template "menu" .}} {{template "content" .}}</div>

    {{template "footer.partial.html" .}}
    <!-- Load menu toggle script -->
    <script src="/static/js/menu.js"></script>
  </body>
</html>
{{end}}
