{{define "index"}} {{template "base" .}} {{end}} {{define "content"}}
<div class="pure-g">
  <div class="pure-u pure-u-md-1-1 pure-u-lg-1-2">
    <!-- AccuWeather radar -->
    <a href="https://www.accuweather.com/en/us/kansas/weather-radar?play=1">
      <img
        class="pure-img-responsive"
        src="https://sirocco.accuweather.com/nx_mosaic_640x480_public/sir/inmasirks_.gif"
        id="weatherAnimation"
        alt="Current Weather Animation"
        border="0"
      />
    </a>

    <!-- NWS Central Plains Radar -->
    <a href="https://radar.weather.gov/ridge/radar.php?rid=kict&product=N0R&overlay=11101111&loop=yes">
      <img
        class="pure-img-responsive"
        src="https://radar.weather.gov/ridge/standard/KICT_loop.gif"
        alt="NWS Central Plains Radar"
        border="0"
      />
    </a>
  </div>

  <div class="pure-u pure-u-md-1-1 pure-u-lg-1-2">
    <!-- KSN KS radar -->
    <a href="https://www.ksn.com/weather/images/kansas-radar">
      <img
        class="pure-img-responsive"
        src="https://media.psg.nexstardigital.net/ksnw/weather/images/ksn_ks_radar_8.jpg"
        id="ksnKSLoop"
      />
    </a>

    <!-- KSN Southcentral radar -->
    <a href="https://www.ksn.com/weather/images/southcentral-kansas-radar">
      <img
        class="pure-img-responsive"
        src="https://media.psg.nexstardigital.net/ksnw/weather/images/ksn_sc_radar_8.jpg"
        id="ksnSCKSLoop"
      />
    </a>

    <!-- KSN Wichita radar -->
    <a href="https://www.ksn.com/weather/images/wichita-radar">
      <img
        class="pure-img-responsive"
        src="https://media.psg.nexstardigital.net/ksnw/weather/images/ksn_wichita_radar_8.jpg"
        id="ksnWichitaLoop"
      />
    </a>
  </div>
</div>

<script src="/static/js/animate.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // KSN KS RADAR
    var newksnks = {
      numImages: 8,
      urlPrefix: 'https://media.psg.nexstardigital.net/ksnw/weather/images/ksn_ks_radar_',
      urlSuffix: '.jpg',
      leadingZero: false,
      startingFrame: 1,
    };
    animateFrames(newksnks, 5, 300, '#ksnKSLoop', true);

    // KSN SC KS RADAR
    var newksn = {
      numImages: 8,
      urlPrefix: 'https://media.psg.nexstardigital.net/ksnw/weather/images/ksn_sc_radar_',
      urlSuffix: '.jpg',
      leadingZero: false,
      startingFrame: 1,
    };
    animateFrames(newksn, 5, 300, '#ksnSCKSLoop', true);

    // KSN WICHITA LOOP
    var ksnWichita = {
      numImages: 8,
      urlPrefix: 'https://media.psg.nexstardigital.net/ksnw/weather/images/ksn_wichita_radar_',
      urlSuffix: '.jpg',
      leadingZero: false,
      startingFrame: 1,
    };
    animateFrames(ksnWichita, 5, 300, '#ksnWichitaLoop', true);

    // No need to reload the NWS radar loop as it's an animated GIF
  });
</script>
{{end}}
