{{define "temperatures"}} {{template "base" .}} {{end}} {{define "content"}}
<div class="pure-g">
  <div class="pure-u textbox-warn">
    Apologies; we are having some trouble with some of our upstream temperature maps.
  </div>
  <div class="pure-u pure-u-md-1 pure-u-lg-1-2 pure-u-xl-1-3">
    <!-- ****** KSNW ***** -->
    <a href="https://www.ksn.com/weather/images/kansas-temps/">
      <img
        class="pure-img-responsive"
        src="https://media.psg.nexstardigital.net/ksnw/weather/images/ksnow_full.jpg"
        alt="Current Kansas temps map from KSN"
        border="0"
      />
    </a>

    <!-- ****** wunderground dodge city (populated by JS) ****** -->
    <div
      class="wu-slot"
      data-wu-key="ddc"
      data-wu-href="https://www.wunderground.com/maps/temperature/us-current/ddc"
      data-wu-alt="Current Dodge City area temps map from Wunderground"
    ></div>
  </div>

  <div class="pure-u pure-u-md-1 pure-u-lg-1-2 pure-u-xl-1-3">
    <!-- ****** Weather.com (loaded via JS with loading/failed states) **** -->
    <div
      class="wu-slot"
      data-wu-src="https://s.w-x.co/staticmaps/acttemp_1280x720.jpg"
      data-wu-href="https://weather.com/maps/ustemperaturemap"
      data-wu-alt="Current US temps map from Weather.com"
    ></div>

    <!-- ****** wunderground (populated by JS) ****** -->
    <div
      class="wu-slot"
      data-wu-key="usa"
      data-wu-href="https://www.wunderground.com/maps/temperature/us-current/usa"
      data-wu-alt="Current US temps map from Wunderground"
    ></div>
  </div>

  <div class="pure-u pure-u-md-1 pure-u-lg-1-2 pure-u-xl-1-3">
    <!-- ****** Weather.gov ***** -->
    <a href="https://graphical.weather.gov/sectors/conus.php#tabs">
      <img class="pure-img-responsive" src="https://graphical.weather.gov/images/conus/MaxT1_conus.png" alt="National current temps from NOAA" border="0" />
    </a>

    <!-- ****** Weather.gov ***** -->
    <a href="https://graphical.weather.gov/sectors/centplains.php#tabs">
      <img
        class="pure-img-responsive"
        src="https://graphical.weather.gov/images/centplains/MaxT1_centplains.png"
        alt="Central Plains current temps from NOAA"
        border="0"
      />
    </a>

    <!-- ****** Weather.gov ***** -->
    <a href="https://graphical.weather.gov/sectors/kansas.php#tabs">
      <img class="pure-img-responsive" src="https://graphical.weather.gov/images/kansas/MaxT1_kansas.png" alt="Kansas current temps from NOAA" border="0" />
    </a>
  </div>
</div>
<script src="/static/js/wu-temperature-images.js"></script>
{{end}}
